<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/35e93226-25b6-4fd7-84c5-1ccb2aad8a62/resourceGroups/omerfaruk/providers/Microsoft.ContainerRegistry/registries/testapi</ResourceId>
    <ResourceName>testapi</ResourceName>
    <ResourceGroup>omerfaruk</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://testapi.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>533c0046-0ca2-4e52-8d2e-e2e571e33b63</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>